.order-display .title {
  font-weight: 800;
}

.order {
  display: flex;
  justify-content: space-evenly;
}

.order-display {
  margin: 30px;
}

.order-display .item {
  margin: 30px;
}

.order-display .item .order-display-item {
  display: flex;
  justify-content: space-evenly;
}
